DATABASE_URL="postgresql://user:pass@host:port/db_name"

# DB_USER="user"
# DB_PASS="pass"
# DB_HOST="host"
# DB_PORT="port"
# DB_NAME="db_name"

SRV_PORT=5000

PUBKEY_PATH="./pubkey.der"
PRIVKEY_PATH="./privkey.der"

RUST_LOG="clearlist_api=info"
